@model IEnumerable<BricksWarehouse.WebModels.ProductTypeEditWebModel>
@{
    ViewBag.Title = "Редактирование видов товаров";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <partial name="Partial/_LeftSidebarPartial" />
        </div>
        <div class="col-sm-10">
            <h1>@ViewBag.Title</h1>

            <hr />
            <a asp-controller="ProductTypeEdit" asp-action="Create" class="btn btn-success">
                Создать новый
            </a>
            <hr />

            <div class="table-responsive-md">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><label>№</label></th>
                            <th>@Html.DisplayNameFor(m => m.Name)</th>
                            <th>@Html.DisplayNameFor(m => m.FormatNumber)</th>
                            <th>@Html.DisplayNameFor(m => m.Order)</th>
                            <th>@Html.DisplayNameFor(m => m.Units)</th>
                            <th>@Html.DisplayNameFor(m => m.Volume)</th>
                            <th>@Html.DisplayNameFor(m => m.Weight)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Any())
                        {
                            var index = 1;
                            @foreach (var productType in Model)
                            {
                                <tr>
                                    <td>@(index++)</td>
                                    <td>@Html.DisplayFor(_ => productType.Name)</td>
                                    <td>@Html.DisplayFor(_ => productType.FormatNumber)</td>
                                    <td>@Html.DisplayFor(_ => productType.Order)</td>
                                    <td>@Html.DisplayFor(_ => productType.Units)</td>
                                    <td>@Html.DisplayFor(_ => productType.Volume)</td>
                                    <td>@Html.DisplayFor(_ => productType.Weight)</td>
                                    <td class="text-center">
                                        <a asp-controller="ProductTypeEdit" asp-action="Edit" asp-route-id="@productType.Id" class="btn btn-info">
                                            <i class="fas fa-edit"></i>Редактировать
                                        </a>
                                        <a asp-controller="ProductTypeEdit" asp-action="Delete" asp-route-id="@productType.Id" class="btn btn-warning">
                                            <i class="fas fa-trash"></i>В корзину
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <div class="align-content-center p-2">
                                <p>Виды товаров отсутствуют.</p>
                            </div>
                        }
                    </tbody>
                </table>
            </div>

            <hr />
            <a asp-controller="ProductTypeEdit" asp-action="Trashed" class="btn btn-outline-secondary">
                <i class="fas fa-trash"></i>
                Виды товаров в корзине
            </a>
            <hr />

        </div>
    </div>
</div>
